* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}


body {
    background-color: black;
    color: white;
}

.header {
    width:100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(images/wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

.logo {
    width: 150px;
    cursor: pointer;
}


.button1, .button1:hover {
    color: white;
    text-decoration: none;
    letter-spacing: .1rem;
    cursor: pointer;
    background: transparent;
    background-repeat: no-repeat;
    overflow: hidden;
    border: none;
    outline: none;
}

.button1:hover:focus {
    color: white;
}


.button2 {
    background-color: #A31ACB;
    color: white;
    border: none;
    letter-spacing: .1rem;
    border-radius: 15px;
    width: 150px;
    cursor: pointer;
}


.button2:hover{
    background-color: #C850C0;
    color: white;
}



.header-content {
    position: absolute;
    top: 30%;
    left: 5%;
    text-align: left;
    margin-top: 100px;

}

.john-wick {
    padding-bottom: 3%;
}


.john-wick-info {
    font-family: "Roboto-Light";
    padding-bottom: 3%;
}

.button3 {
    background: transparent;
    color: white;
    border-radius: 45px;
    border-width: 3px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.button3:hover{
    background-color: #C850C0;
    color: white;
    border-color: #C850C0;
}

.header-options {
    opacity: 90%;
    display: flex;
    position: absolute;
    top: 95%;
    left: 34%;
}



@media(max-width:635px) {
    .header-options {
        position: relative;
        top: 88%;
        left: -10%;
    }
}

.originals-btn, .originals-btn:hover, .originals-btn:hover:focus {
    font-weight: bold;
    color: white;
    background: transparent;
    border: none;
    margin-right: 15%;
    text-decoration: none;
    position: relative;
    margin-right: 20%;
}

.tvShows-btn, .tvShows-btn:hover, .tvShows-btn:hover:focus {
    font-weight: bold;
    color: white;
    background: transparent;
    border: none;
    margin-right: 25%;
    text-decoration: none;
    position: relative;
}

.movies-btn, .movies-btn:hover, .movies-btn:hover:focus {
    font-weight: bold;
    color: white;
    background-color: transparent;
    border: none;
    text-decoration: none;
    position:relative;
}

.originals-btn::after, .tvShows-btn::after, .movies-btn::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

.originals-btn:hover::after, .movies-btn:hover::after, .tvShows-btn:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}




.media-selections {
    width: 100%;
    height: 100%;
    padding-bottom: 10%;
    background-color: #4158D0;
    background-image: linear-gradient(108deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-size: cover;
    background-position: center;

}

.button4, .button4:hover {
    padding-top: 3%;
    padding-left: 3%;
    background: transparent;
    font-weight: bolder;
    color: white;
    border: none;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-decoration: none;
}

.play-icon2 {
    margin-left: 3%;
}


.movie-btn{
margin-top: 3%;
align-items: center;
justify-content: center;
}


.harryPotter {
    background-image:linear-gradient(rgba(101, 101, 101, 0.3),rgba(101,101,101,0.3)), url(https://www.soda.com/wp-content/uploads/2020/04/harry-potter-streaming-guide.jpg);
    background-size: cover;
    background-position: center;
    border: none;
    width: 280px;
    height: 280px;
    margin-left: 15%;
    margin-right: 5%;   
}

.theLastOfUs {
    background-image:linear-gradient(rgba(101, 101, 101, 0.3),rgba(101,101,101,0.3)), url(https://pbs.twimg.com/media/FmkShm6WYAIVZV6?format=jpg&name=medium);
    background-size:cover;
    background-position: bottom;
    border: none;
    width: 280px;
    height: 280px;
    margin-right: 5%;

}


.justiceLeague {
    background-image:linear-gradient(rgba(101, 101, 101, 0.3),rgba(101,101,101,0.3)), url(https://static.wikia.nocookie.net/dccu/images/f/fd/ZSJL_poster_-_League_together.png/revision/latest/scale-to-width-down/675?cb=20210302174150);
    background-size: cover;
    background-position: top;
    border: none;
    width: 280px;
    height: 280px;

}


@media (max-width: 635px) {
    .button4 {
        margin-left: 8%;
    }

}

@media (max-width: 635px) {
    .theLastOfUs {
        margin-top: 5%;
        margin-left: 18%;
    }

    .justiceLeague {
        margin-top: 5%;
        margin-left: 18%;
    }

    .harryPotter {
        margin-left: 18%;
    }
}